@font-face {
  font-family: "Kumbh-bold";
  src: url("assets/KumbhSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kumbh-regular";
  src: url("assets/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
}
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  grid-area: illustration;
  background: url(img/illustration-woman-online-desktop.svg),
    url(img/bg-pattern-desktop.svg);
  background-position: 100% 50%, 100% 65%;
  background-repeat: no-repeat;
  position: relative;
  background-size: 122%, 255%;
}
.accordion {
  grid-area: accordion;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.card {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr;
  grid-template-rows: 509px;
  grid-template-areas: "illustration accordion";
  width: 100%;
  max-width: 920px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  margin: 0 40px;
}

.illustration-woman {
  position: relative;
}
.box-illustration {
  position: absolute;
  top: 40%;
  left: -24%;
  width: 50%;
}
.faq-header {
  font-family: Kumbh-bold;
  font-size: 32px;
  margin-bottom: 43px;
}
.accordionItem {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8ea;
}
.header-arrow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 0px;
}
.arrow {
  cursor: pointer;
}
.accordionItemHeading {
  cursor: pointer;
  color: #4b4c5f;
  width: 100%;
  font-family: Kumbh-regular;
  font-size: 14px;
}
.accordionItemHeading:hover {
  color: #f47b56;
}
.close .accordionItemContent {
  height: 0px;
  transition: transform 0.2s ease;
  transform: scaleY(0);
  display: block;
}
.open .accordionItemContent {
  width: 100%;
  font-family: Kumbh-regular;
  font-size: 12px;
  color: #787887;
  margin: 0px 0px 20px 0px;
  display: block;
  transition: transform 0.4s ease;
}

.open .accordionItemHeading {
  font-family: Kumbh-bold;
  font-size: 14px;
  margin: 0px;
  color: #1e1f36;
}
.open .arrow {
  transform: rotate(180deg);
}
.women-mobile {
  display: none;
}

@media only screen and (max-width: 620px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "illustration"
      "accordion";
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 50px 50px -20px rgb(53 18 122 / 50%);
    margin: 0 20px;
  }
  .illustration {
    grid-area: illustration;
    background: url(img/bg-pattern-mobile.svg);
    background-position: 49% 6%;
    background-repeat: no-repeat;
    position: relative;
    background-size: 65%;
  }
  .women-mobile {
    display: block;
    position: absolute;
    top: -100px;
    left: 28px;
    width: 75%;
  }
  .box-illustration {
    display: none;
  }
  .accordion {
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
  }
}
